:root {
    --margin: 4px;
    --padding: 4px;
    --chat-margin: 10%;
}

#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#graph {
    width: calc(100% - 2px);
    height: 320px;
    border: 1px solid gray;
    overflow: scroll;
    white-space: nowrap;
    position: relative;
    user-select: none;
}

#graph svg {
    pointer-events: none;
    position: absolute;
    z-index: -1;
}

#graph .options {
    display: inline-block;
    margin: var(--margin);
    margin-right: 40px;
    padding: var(--padding);
    vertical-align: top;
}

#graph .options .word {
    cursor: pointer;
    width: 100%;
    margin: var(--margin);
    padding: var(--padding);
    background-color: #CACACA;
    text-align: center;
}

#graph .options .word:hover {
    background-color: #EAEAEA;
}

#graph .options .word.chosen {
    background-color: #FACDCA;
}

#graph .options .word.chosen:hover {
    background-color: #EAEAEA;
}

#chat {
    height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    overflow: scroll;
    float: left;
}

#chat .message {
    background-color: #6EBD71;
    margin: var(--margin);
    padding: 8px;
    clear: both;
    border-radius: 8px;
}

#chat .message.left {
    float: left;
    margin-left: var(--chat-margin);
}

#chat .message.right {
    float: right;
    margin-right: var(--chat-margin);
}

#text {
    width: 100%;
    height: 128px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    resize: none;
    box-sizing: border-box;
}

#sources {
    margin: var(--margin);
}

#sources select {
    width: 100%;
}

#controls input {
    width: 100%;
}

#controls button {
    width: 100%;
}